/PythonBackend/app/__pycache__
/PythonBackend/app/api/routes/__pycache__
/PythonBackend/app/api/__pycache__
/PythonBackend/app/core/__pycache__
/PythonBackend/app/models/__pycache__
/PythonBackend/app/services/__pycache__
/PythonBackend/app/utils/__pycache__
